<style>
    .error {
    color: red;
    border: 2px solid red;
}
    .success {
    color: limegreen;
    border: 2px solid limegreen;
}

</style>

{% extends "base.html"%}

{%block content%}

</br></br></br></br>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
</br>
<h4>Asistal - Assist Sistemine Hoş Geldiniz!</h4>
<h6><i>Versiyon Ocak 2022-01</i></h6>
</br>

<p>Lütfen hesap adınız (e-mail) ve şifreniz ile giriş yapınız.</p>


<p>Sağlıklı günler dileriz.</p>

{%endblock%} 